<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Icoi link boostrap 4-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
  <hr>
  <div class="container">
    <div class="body-content">
      <div class="intro-course">
        <div class="row intro-content m-0">
          <div class="col-12 col-md-8">
            <p class="course-name">
              The Complete Digital Marketing Course - 12 Courses in 1
            </p>
            <p class="short-des">
              Master Digital Marketing Strategy, Social Media Marketing, SEO,
              YouTube, Email, Facebook Marketing, Analytics & More!
            </p>

            <div class="rating--number-student">
              <div class="rating pr-2">Rating here</div>
              <p class="px-2">(<b>124823</b> ratings)</p>
              <p class="px-2"><b>533642</b> students</p>
            </div>

            <p class="create-by">
              Created by
              <a href="#">Rob Percival</a>
              <a href="">Daragh Walsh</a>
              <a href="#">Codestart by Rob Percival</a>
            </p>

            <p class="last-update">Last updated 11/2020</p>
          </div>
          <div class="col-12 col-md-4">
            <div class="panel-course">
              <img src="https://gutta.lv/wp-content/uploads/2015/10/test-img-300x185.jpg" width="100%" height="auto"
                alt="img" />
            </div>
          </div>
        </div>
      </div>
      <div class="detail-course">
        <div class="row detail-content m-0">
          <div class="col-12 col-md-8">
            <div class="description">
              <p class="title">DESCRIPTION</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                obcaecati cumque optio iste delectus repellat possimus in
                aliquam quos? Vero ullam alias error, id inventore beatae
                numquam quibusdam fugiat tempora? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Ullam dolorem dolores eligendi
                blanditiis magni, quam eos atque quo at harum assumenda quas
                autem reiciendis tempora nostrum in dolore. Consectetur impedit
                nesciunt nihil harum reiciendis, facilis autem repellat
                provident adipisci veniam voluptatum eos atque alias tenetur,
                omnis eaque ad beatae cupiditate.
              </p>
            </div>
            <div class="preview">
              <p class="title">PREVIEW</p>
              <ul class="ul-preview">
                <li class="li-preview" onclick="togglePreview(this)">
                  <p class="li-name">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde, blanditiis.
                  </p>
                  <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias amet quae odio cumque magnam tempore ex optio ut
                    asperiores repellendus!
                  </p>
                </li>
                <li class="li-preview" onclick="togglePreview(this)">
                  <p class="li-name">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde, blanditiis.
                  </p>
                  <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias amet quae odio cumque magnam tempore ex optio ut
                    asperiores repellendus!
                  </p>
                </li>
                <li class="li-preview" onclick="togglePreview(this)">
                  <p class="li-name">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde, blanditiis.
                  </p>
                  <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias amet quae odio cumque magnam tempore ex optio ut
                    asperiores repellendus!
                  </p>
                </li>
                <li class="li-preview" onclick="togglePreview(this)">
                  <p class="li-name">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde, blanditiis.
                  </p>
                  <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias amet quae odio cumque magnam tempore ex optio ut
                    asperiores repellendus!
                  </p>
                </li>
                <li class="li-preview" onclick="togglePreview(this)">
                  <p class="li-name">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde, blanditiis.
                  </p>
                  <p class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestias amet quae odio cumque magnam tempore ex optio ut
                    asperiores repellendus!
                  </p>
                </li>
              </ul>
            </div>
            <div class="teacher">
              <p class="title">TEACHER</p>
              <p class="teach-by">
                This course is teached by
                <a href="#">Rob Percival</a>, <a href="#">Daragh Walsh</a>,
                <a href="#">Codestart by Rob Percival</a>,
              </p>
            </div>
            <div class="rate-comment" id="rate">
              <div class="title">Review Feedback</div>

              <div class="form-rate">
                <button type="button" class="btn btn-write-rate" onclick="toggleWriteFeedback()">
                  Your Feedback
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-pencil-square ml-1" viewBox="0 0 20 20">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <div class="form-write-rate" id="form-write-rate">
                  <form method="POST" action="" class="d-flex flex-column my-2">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control rounded-0" value="" id="name" placeholder="Name"
                        name="comment-name" required />
                    </div>

                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Email" name="comment-email"
                        required />
                    </div>

                    <div class="form-group">
                      <label for="your-rate">Your Feedback</label>
                      <textarea name="comment-content" id="your-rate" rows="5" class="form-control" required></textarea>
                    </div>

                    <button type="submit" class="btn send-rate rounded-0">
                      Send Feedback
                    </button>
                  </form>
                </div>
              </div>

              <div class="rate">
                <div class="media border p-2 my-2">
                  <div class="media-body">
                    <p>
                      <b>Name 01</b>
                      <small><i>Created on dd/mm/yyyy</i></small>
                    </p>
                    <p>Khoá học như shit</p>
                  </div>
                </div>
              </div>

              <div class="media border p-2">
                <div class="media-body">
                  <p>
                    <b>Name 02</b>
                    <small><i>Created on dd/mm/yyyy</i></small>
                  </p>
                  <p>Thua anh Huấn Rose dạy học nữa</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="panel-course sticky-top">
              <p class="course-name">
                The Complete Digital Marketing Course - 12 Courses in 1
              </p>
              <video width="100%" controls>
                <source src="link" type="video/mp4" />
              </video>
              <div class="price-secsion">
                <p class="price px-2">$11.99</p>
                <p class="old-price px-2">$129.99</p>
                <p class="sale-percent px-2">-91%</p>
              </div>
              <div class="container">
                <button type="button"
                  class="btn btn-lg btn-block add-to-cart d-flex justify-content-center align-items-center">
                  Add to cart
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16" style="margin-left: 0.5rem">
                    <path fill-rule="evenodd"
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                  </svg>
                </button>
                                <button type="button"
                  class="btn btn-lg btn-block add-to-cart d-flex justify-content-center align-items-center">
                  Add to wishlist
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16" style="margin-left: 0.5rem">
                    <path fill-rule="evenodd"
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                  </svg>
                </button>
              </div>
              <hr />
              <p class="number-student"><b>533642</b> students</p>
              <a class="see-feedback" href="#rate">See Feedback Comment</a>
              <hr />
              <p class="short-des">
                Master Digital Marketing Strategy, Social Media Marketing, SEO,
                YouTube, Email, Facebook Marketing, Analytics & More!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    <script src="script.js"></script>
  </div>
</body>

</html>