<!DOCTYPE html>
<html class="h-100 w-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body class="h-100 w-100">
    <div class="container h-100 w-100 ">
        <form class="h-100 w-100 d-flex flex-column justify-content-between" action="" method="POST">
            <div>
                <h1 class="text-center mt-5">Which subcategory best fix the course you will share?</h1>
                <p class="text-center mt-3">If you not sure, you can change it any time later</p>
                <select class="custom-select mt-5" name='subcategoryID' id='subcategoryID'>
                    <option selected>Open this select menu</option>
                    {{#each this.allSubCategories }}
                    <option value="{{SubCategoryID}}">{{Name}}</option>
                    {{/each}}
                </select>
                <div class="input-group input-group-lg mt-5">
                    <input type="hidden" class="form-control" id="txtcourseName" name="courseName"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
                        value="{{courseName}}">
                </div>
                <div class="input-group input-group-lg mt-5">
                    <input type="hidden" class="form-control" id="txtcourseName" name="categoryID"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
                        value="{{categoryID}}">
                </div>
            </div>
            <div class="pb-5 d-flex justify-content-between">
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="button submit" class="btn btn-info">Next</button>
            </div>
        </form>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>