<form method="POST">
  <div class="card">
    <div class="card-header">
      <h4>Category</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="CatID" readonly value="{{this.category.CatID}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus
          value="{{this.category.CatName}}">
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button class="btn btn-danger" type="submit" formaction="/admin/categories/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button class="btn btn-success" type="submit" formaction="/admin/categories/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>